<!-- templates/file_manager.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Manager</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="content">
      
        <section class="modal hidden" id="folder-modal">
          <div class="flex">
            <button class="btn-close" id="btn-folder-close">⨉</button>
          </div>
          <div>
            <h3>Create a folder</h3>
          </div>

          <input type="text" id="folder" placeholder="Folder name" />
          <button class="btn-modal" id="btn-submit-folder">Submit</button>
        </section>

        <section class="modal hidden" id="file-modal">
          <div class="flex">
            <button class="btn-close" id="btn-file-close">⨉</button>
          </div>
          <div>
            <h3>Create a file</h3>
          </div>

          <input type="text" id="file" placeholder="File name" />
          <button class="btn-modal" id="btn-submit-file">Submit</button>
        </section>

        <section class="modal hidden" id="rename-modal">
          <div class="flex">
            <button class="btn-close" id="btn-rename-close">⨉</button>
          </div>
          <div>
            <h3>Rename a file/folder</h3>
          </div>

          <input type="text" id="rename" placeholder="File/Folder name" />
          <button class="btn-modal" id="btn-submit-rename">Submit</button>
        </section>

        <div class="overlay hidden"></div>

      <div class="file-panel" id="panel1">
        <div class="panel-buttons">
          <select class="panelList" id="panel1List"></select>
          <button class="btn" id="createPanel1">Create Folder</button>
          <button class="btn" id="createFilePanel1">Create File</button>
          <button class="btn" id="renameFilePanel1">Rename</button>
        </div>

        <h2>Partition 1</h2>
        <div class="table-panel">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Ext</th>
                <th>Size</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="btn-panel">
        <button class="btn" id="btn-delete">Delete</button>
        <button class="btn" id="btn-copy">Copy</button>
        <button class="btn" id="btn-move">Move</button>
      </div>
      <div class="file-panel" id="panel2">
        <div class="panel-buttons">
          <select class="panelList" id="panel2List"></select>
          <button class="btn" id="createPanel2">Create Folder</button>
          <button class="btn" id="createFilePanel2">Create File</button>
          <button class="btn" id="renameFilePanel2">Rename</button>
        </div>
        <h2>Partition 2</h2>
        <div class="table-panel">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Ext</th>
                <th>Size</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="{{ url_for('static', filename='scripts.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='create_folder.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='delete_data.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='create_file.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='copy_data.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='move_data.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='rename_data.js') }}"
    ></script>
  </body>
</html>
