<!-- templates/file_manager.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Manager</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="content">
      <section class="modal hidden">
        <div class="flex">
          <button class="btn-close">⨉</button>
        </div>
        <div>
          <h3>Create a folder</h3>
        </div>

        <input type="text" id="folder" placeholder="Folder name" />
        <button class="btn-modal" id="btn-submit-folder">Submit</button>
      </section>

      <div class="overlay hidden"></div>
      <div class="file-panel" id="panel1">
        <div class="panel-buttons">
          <select class="panelList" id="panel1List"></select>
          <button class="btn" id="createPanel1">Create Folder</button>
        </div>
        <h2>Partition 1</h2>
        <div class="table-panel">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Ext</th>
                <th>Size</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="btn-panel">
        <button class="btn" id="btn-delete">Delete</button>
      </div>
      <div class="file-panel" id="panel2">
        <div class="panel-buttons">
          <select class="panelList" id="panel2List"></select>
          <button class="btn" id="createPanel2">Create Folder</button>
        </div>
        <h2>Partition 2</h2>
        <div class="table-panel">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Ext</th>
                <th>Size</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="{{ url_for('static', filename='scripts.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='create_folder.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='delete_data.js') }}"
    ></script>
  </body>
</html>
